.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.auth {
  background-color: #47B5FF;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}